English/resume.aux
English/resume.fdb_latexmk
English/resume.fls
English/resume.log
English/resume.out
English/resume.synctex.gz
French/CV.aux
French/CV.fdb_latexmk
French/CV.fls
French/CV.log
French/CV.out
French/CV.synctex.gz
