English/resume.aux
English/resume.fdb_latexmk
English/resume.fls
English/resume.log
English/resume.out
English/resume.synctex.gz
French/CV.aux
French/CV.fdb_latexmk
French/CV.fls
French/CV.log
French/CV.out
French/CV.synctex.gz
English/Portfolio/portfolio_eng.aux
English/Portfolio/portfolio_eng.fdb_latexmk
English/Portfolio/portfolio_eng.fls
English/Portfolio/portfolio_eng.log
English/Portfolio/portfolio_eng.out
English/Portfolio/portfolio_eng.synctex.gz
French/Resume/CV.aux
French/Resume/CV.fdb_latexmk
French/Resume/CV.fls
French/Resume/CV.log
French/Resume/CV.out
French/Portfolio/Dossier de compétences.aux
French/Portfolio/Dossier de compétences.fdb_latexmk
French/Portfolio/Dossier de compétences.fls
French/Portfolio/Dossier de compétences.log
French/Portfolio/Dossier de compétences.out
French/Portfolio/Dossier de compétences.synctex.gz
